.flexRow, .flexCol {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

html, body {
  /*overflow-x: hidden;*/
}

header, main {
  padding: 0;
}

header div {
  height: 150px;

}

nav {
  background-color: #06172d;
  padding: 15px 0;
}

nav li {
  list-style-type: none;
  margin: 0 15px 0 16px;;
  position: relative;
}

nav li::after {
  position: absolute;
  content: '';
  right: -15px;
  width: 1px;
  height: 20px;
  background-color:  #ffffff;
}

nav li:last-child::after {
  display: none;
}

.footGolfClub {
  height: 100vh;
  background: url(../img/groupe.jpg) no-repeat center;
  background-size: cover;
  background-attachment: scroll;
 }

 /* MAIN */

 main h2 {
   margin-bottom: 30px;
   text-align: center;
 }

 main button {
   margin-top: 30px;
 }

.club {
  padding: 20px 80px;
  background-color:#06172d;
  color: #ffffff;
}

.club > div {
  padding: 0 30px;
}

.club li {
  list-style-type: none;
}

.club button {
  float: right;
}

.club a {
 color:#509eb0;
}

.sport {
  text-align: center;
  padding: 20px 80px;
}

.sport .concept {
  text-align: center;
 }

.sport button {
   float: right;

}

 .sport a {
   color: #06172d;
 }

 footer {
   background-color: #06172d;
   padding: 20px 80px;
   color: #ffffff;
 }

 footer ul {
   padding: 0;
 }

 footer li {
   list-style: none;
 }
