.flexRow, .flexCol {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

html, body {
  /*overflow-x: hidden;*/
}

header, main {
  padding: 0;
}

header div {
  height: 150px;

}

nav {
  background-color: #080048;
  padding: 15px 0;
}

nav li {
  list-style-type: none;
  margin: 0 15px 0 16px;;
  position: relative;
}

nav li::after {
  position: absolute;
  content: '';
  right: -15px;
  width: 1px;
  height: 20px;
  background-color:  #ffffff;
}

nav li:last-child::after {
  display: none;
}

.footGolfClub {
  height: 100vh;
  background: url(../img/groupe.jpg) no-repeat center;
  background-size: cover;
  background-attachment: scroll;
 }

 .club {
   text-align: center;
   padding: 20px 50px;
 }
 .club a {
   color:#509eb0;
 }
