.flexRow, .flexCol {
  display: flex;
}

.flexCol {
  flex-direction: column;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

body {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:link {
  outline: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

form {
  background-color: #cf2c31;
}

.btn-colored-background {
  border-radius: 0;
  border: 1px solid rgba(255,255,255,0);
  padding: 10px 15px;
  background: rgba(255,255,255,1);
  transition: all .2s ease-in-out;
  color: black;
}

.btn-colored-background:hover {
  background: rgba(255,255,255,0);
  color: white;
  border: 1px solid rgba(255,255,255,1);
}

.btn-white-background {
  border-radius: 0;
  border: 1px solid rgba(207,44,49,0);
  padding: 10px 15px;
  background: rgba(207,44,49,1);
  transition: all .2s ease-in-out;
  color: white;
}

.btn-white-background:hover {
  background: rgba(207,44,49,0);
  color: black;
  border: 1px solid rgba(207,44,49,1);
}

.enveloppe {
  background-color: #cf2c31;
  margin-bottom: 50px;
  font-size: 0.9em;
}

header, main {
  padding: 0;
}

header {
  top :0;
  left: 0;
  height: 120px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 200;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

header div {
  height: 100px;
}

header a button {
  color: black;
}

.firstModal .enveloppe {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 290px;
  padding: 30px;
}

.firstModal input[type=submit] {
  margin-bottom: 45px;
}

nav {
  background-color: #06172d;
  padding: 15px 0;
}

nav li {
  list-style-type: none;
  margin: 0 15px 0 16px;;
  position: relative;
}

nav li::after {
  position: absolute;
  content: '';
  right: -15px;
  top: 2px;
  width: 1px;
  height: 20px;
  background-color:  #ffffff;
}

nav li:last-child::after {
  display: none;
}

.footGolfClub {
  margin-top: 160px;
  height: calc(100vh - 160px);
  background: url(../img/groupe.jpg) no-repeat center;
  background-size: cover;
  background-attachment: scroll;
 }

 /* MAIN */

.accessButtonContainer {
  margin-bottom: 45px;
  width: 600px;
}

.accessButtonContainer .btn-white-background:hover, .sponsor  .btn-white-background:hover{
  background-color: white !important;
  color: black !important;
  border: 1px solid rgba(255,255,255,1);
}

 main h2 {
   margin: 0 0 30px 0;
   text-align: center;
 }

 main button {
   margin-top: 30px;
 }


/*                     Le club                       */


.club {
  /*border-top: 1px solid white;*/
  background-color:#06172d;
  color: #ffffff;
  padding: 35px 0;
}

.club h2 {
  color: #ffffff;
}

/*.club > div {
  padding: 0 30px;
}*/

/*.club div:last-child {
  height: 70%;
  background: url('../img/imgClub2.jpg')  center no-repeat scroll;
  background-size: cover;
  border-left: 1px solid white;
}*/

.club li {
  list-style-type: none;
}

.club button {
  float: right;
}

.club a {
 color:#509eb0;
}


/*                     Le sport                   */



.footGolfImgContainer {
  height: 850px;
  background: url('../img/footGolf.jpg') center no-repeat scroll;
  background-size: cover;
  border-top: 1px solid white;
}

.sport .col-md-7 {
  padding-top: 35px;
}

.sport .concept {
  height: 200px;
  margin-bottom: 35px;
}

.sport h2 {
  color: #323232;
  margin-bottom: 50px;
}

.sport p {
  width: 80%;
  margin: 0 auto 25px auto;
  font-style: oblique;
}

.sport h3 img {
  margin-right: 15px;
}

.sport button {
  margin-top: 105px;
}

.sport a {
  display: inline-block;
  color: #06172d;
  margin-left: 50%;
}

/*                découverte              */

.decouverte {
    background-color:#06172d;
    color: white;
    border-top: 1px solid white;
 }



 .decouverte h2 {
   margin-top: 25px;
 }

.decouverte form {
  padding: 45px 0 25px 0;
  margin: 0;
}

.decouverte form p {
  margin-top: -20px;
  margin-bottom: 45px;
  font-size: 1.8em;
}

.decouverte input[type=text], .decouverte input[type=mail], .decouverte textarea  {
  width: 250px;
}

.decouverte .btn-colored-background {
  width: 150px;
}

.decouverte textarea {
  resize: none;
  height: 100px;
  margin-bottom: 25px;
  color: black;
}

.decouverte input[type=submit] {
  width: 150px;
}


.boutique a {
 color:#509eb0;
}

.initiation {
 height: 450px;

}

.equipement {
 height: 350px;
}

.inscription {
  background-color:#06172d;
  padding: 20px 0;
  color: white;
}

label {
  font-weight: normal;
}

.inscription {
 background-color: rgba(0,0,0, 0.3);
 padding: 20px 0;
 color: white;
}

.inscription h2 {
  color: #ffffff;
}

.inscription .enveloppe {
  width: 100%;
  padding: 30px;
}

.enveloppe form {
  margin-top: 30px;
}

.inputcontainer {
  position: relative;
   margin-bottom: 40px;
}

.floating-label {
  position: absolute;
  top: 5px;
  left: 2px;
  color: white;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

input[type=text], input[type=mail], input[type=password], input[type=number], input[type=tel] {
  background: transparent;
  border: none;
  border-bottom: 1px solid white ;
  padding: 5px 0 5px 5px;
  color: white;
  width: 150px;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.05em;
}

input[type=radio] {
  margin-right: 5px;
}

input[type=radio]:checked {
  background-color: #06172d;
}

input[type=submit] {
  float: right;
  color: #06172d;
}

select, option {
  color: #06172d;
}

.cm {
  margin: 0 5px 0 7px;
}

input:focus {
  border-bottom: 1px solid #06172d;
  color: #06172d;
}

input:focus ~ .floating-label
{
  color: #06172d;
  top: -15px;
  font-size: 11px;
}

input:not(:focus):valid ~ .floating-label {
   color: white;
   top: -15px;
   font-size: 11px;
}


/* footer */



footer {
  background-color: #06172d;
  color: #ffffff;
}

.sponsor {
  margin-top: 30px;
  height: 600px;
  background: url('../img/sponsor.jpg') center fixed;
  background-size: cover;
  border-top: 1px solid white;
}

.sponsor div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 350px;
}

.sponsor a {
  display: inline-block;
  margin-left: 55%;
}
/*.sponsor div:first-child::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 55px;
  width: 2px;
  height: 200px;
  border-left: 2px dashed #cf2c31;
}

.sponsor li {
  margin: 55px 20px;
}

.sponsor a {
  display: inline-block;
  margin-top: 35px;
  margin-left: 100px;
}*/

.contact {
  padding: 20px 80px;
}

footer ul {
 padding: 0;
}

.contact li {
 list-style: none;
}


/*     Profil     */

.photoJoueur {
  margin-top: 50px;
}

/* E-boutique */

.e-boutique img {
  width: 200px;
  margin: 30px;
}
.e-boutique p {
  text-align: center;
}
.e-boutique .formu-achat {
  margin-top: 30px;
}
.e-boutique .formu-achat {
  color: white;
}
.e-boutique .formu-achat .quantité {
  margin-top: 9px;

}
.e-boutique .formu-achat .achat {
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}
.e-boutique .formu-achat p {
  margin-top: -18px;
}
.e-boutique .formu-achat .achat .inputcontainer {
  margin-top: 20px;
}

.sponsoring #why-sponsor{
  padding: 40px 20px;
}

.sponsoring #sponsor-win {
  padding-bottom: 40px;
}

.sponsoring #why-sponsor h2 {
  color: #cf2c31;
}
.sponsoring #why-sponsor p {
  text-align: center;
  padding: 0 20px;
}
.sponsoring #packs h2 {
  color: white;
  padding-top: 30px;
}
.sponsoring #packs p {
  text-align: center;
  padding: 0 20px;
}
.sponsoring #packs .montant {
  color: #cf2c31;
  font-size: 20px;
  font-weight: 700;
}
.sponsoring #packs {
  background-color: #06172d;
  padding-bottom: 50px;
}
.sponsoring .pack h3 {
  text-align: center;
  color: #06172d;
}
.sponsoring .pack {
  padding: 10px 30px;
  margin: 10px;
  background-color: white;
  max-height: 400px;
  overflow: auto;
}
.sponsoring .pack p:nth-child(1){
  text-decoration: underline;
}
#formulaire-sponsoring {
  margin: 50px;
}

#formulaire-sponsoring .enveloppe {
  padding: 30px;
}

#formulaire-sponsoring h2 {
  color: #06172d;
  padding-top: 0;
  margin-top: 0;
}
