<!DOCTYPE html>
<html>
<head>
  <html>
  <head>
    <meta charset="utf-8">
    <title>Paris Foot Golf Club</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin:500" rel="stylesheet">
  </head>
</head>
<body>
  <header class="container-fluid">
    <div class="row">
      <div class="col-md-4 text-center logoContainer flexCol alignCenter justifyCenter">
        <img class="logo" src="img/logo.jpg" height="100px" alt="">
        <p>Paris Foot Golf Club</p>
      </div>
      <div class="col-md-4 col-md-offset-4 flexRow alignCenter justifyCenter">
        <a href="profil.html"><button type="button" name="button" class="btn-white-background">Se connecter</button></a>
      </div>
    </div>
    <nav class="row text-center">
      <ul class="flexRow alignCenter justifyCenter">
        <li><a href="#club">Le club</a></li>
        <li><a href="#sport">Le sport</a></li>
        <li><a href="#decouverte">Atelier découverte</a></li>
        <li><a href="#inscription">Rejoindre le club</a></li>
        <li><a href="#boutique">La boutique</a></li>
        <li><a href="#sponsor">Sponsoring</a></li>
        <li><a href="#contact">Nous contacter</a></li>
      </ul>
    </nav>
  </header>
  <main class="sponsoring container-fluid">
    <section id="why-sponsor" class="row">
      <div class="col-md-6">
        <h2>Pourquoi Nous sponsoriser</h2>
        <p>Possibilité de mise en avant permanente de votre logo sur notre bandeau de page et dans notre video de présentation.</p>
        <p>Possibilité de publi-reportages sur votre entreprise pour le lancement d'un produit ou d'un service</p>
        <p>Possibilité de sponsoriser les publications sur les évenements organisés en commun pour amener du trafic vers votre page facebook ou vote site internet.</p>
      </div>
      <div class="col-md-6">
        <h2>Nous sponsoriser c'est gagner !</h2>
        <p>Les dépenses de sponsoring sont intégralement déductibles du CA net de votre entreprise. Les contreparties liées à ces investissement ne sont pas limitées en montant.</p>
        <p>Les dons au titre du mécénat permettent une déduction fiscale égale à 60% des sommes versées à l'association, avec un plafond de 0,5% du CA HT.</p>
      </div>
    </section>
    <section id="packs" class="row">
      <h2>Nos packs</h2>
      <div class="col-md-4">
        <div class="pack">
          <h3>Pack Birdie</h3>
          <p>Avantage</p>
          <p>Communication du nom du sponsor sur l'ensemble du plan de communication (emailing, réseaux sociaux Paris FootGolf = +3500 likes Facebook, passage radio..)</p>
          <p>Présence du logo sur une banderole</p>
          <p>Présence du logo sur le bandeau de la page Facebook</p>
          <p>Votre logo sur notre maillot officiel (positionnement sur une épaule).</p>
          <p>5 places offertes pour une initiation footgolf encadrée par des joueurs confirmés.</p>
          <p class="montant">Montant de l'offre 750 TTC</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pack">
          <h3>Pack Eagle</h3>
          <p>Avantage</p>
          <p>Contenu du Pack Birdie</p>
          <p>5 places offertes (soit 15 au total) pour une initiation footgolf encadrée par des joueurs confirmés.</p>
          <p>5 places offertes à vos salariés pour participer au trophy organisé par le club (excellent créateur de liens).</p>
          <p>Le nom de votre entreprise donné au trophée du 3e de la compétition.</p>
          <p class="montant">Montant de l'offre 1000 TTC</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pack">
          <h3>Pack Albatros</h3>
          <p>Avantage</p>
          <p>Contenu du Pack Eagle</p>
          <p>Votre logo sur notre maillot officiel (positionnement sur le dos) + sur le polo de sortie (positionnement sur l’épaule)</p>
          <p>5  places offertes (soit 20 au total) pour une initiation footgolf encadrée par des joueurs confirmés.</p>
          <p>2 places offertes (soit 7 au total) à vos salariés pour participer au trophy organisé par le club (excellent créateur de liens)</p>
          <p>Installation d’un stand sur le golf lors de la journée de compétition organisée par le club (environ 100 joueurs attendus).</p>
          <p>Le nom de votre entreprise donné au trophée du 2e de la compétition.</p>
          <p class="montant">Montant de l'offre 1750 TTC</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pack">
          <h3>Pack Condor</h3>
          <p>Avantage</p>
          <p>Contenu du pack Albatros</p>
          <p>Votre logo sur notre maillot officiel (positionnement sur le ventre) + sur le polo de sortie (positionnement sur l’épaule) + sur la veste softshell (positionnement dans le dos).</p>
          <p>Naming du Trophy organisé en région parisienne :
            « Le nom de votre entreprise » Footgolf Trophy </p>
            <p>+ 3 places offertes (soit 10 au total) à vos salariés pour participer à cet événement (excellent créateur de liens)</p>
            <p>Le nom de l’entreprise donné au trophée du vainqueur de la compétition</p>
            <p class="montant">Montant de l'offre 2500 TTC</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pack">
            <h3>Silver Pack</h3>
            <p>Avantage</p>
            <p>Communication du nom du sponsor sur l’ensemble du plan de communication de l’étape de Footgolf Cup (emailing, réseaux sociaux FootGolf France = +8 600  likes Facebook..).</p>
            <p>Installation d’un stand sur le golf lors de la journée de compétition organisée par le club (environ 100 joueurs attendus).</p>
            <p>10 places offertes à vos salariés pour participer à cet événement (excellent créateur de liens).</p>
            <p class="montant">Montant de l'offre 3000 TTC</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pack">
            <h3>Golden Pack</h3>
            <p>Avantage</p>
            <p>Contenu du Silver Pack</p>
            <p>Naming d’une étape parisienne de la Footgolf Cup :
« nom de votre entreprise » Footgolf Cup </p>
            <p>10 places offertes (20 places au total) à vos salariés pour participer à cet événement (excellent créateur de liens)</p>
            <p>Le nom de l’entreprise donné au trophée du vainqueur de la compétition</p>
            <p class="montant">Montant de l'offre 5000 TTC</p>
          </div>
        </div>
      </section>
      <section id="formulaire-sponsoring" class="row">
        <h2>Choisir un pack</h2>
        <div class="enveloppe formu-achat">
          <form class="flexRow justifyAround">
           <div class="packLoisir">
            <div class="flexCol achat">
              <p>Choix du pack</p>
              <select>
                <option value="xs">Pack Birdie</option>
                <option value="s">Pack Eagle</option>
                <option value="m">Pack Albatros</option>
                <option value="l">Pack Condor</option>
                <option value="xl">Silver Pack</option>
                <option value="">Golden Pack</option>
              </select>
            </div>
          </div>
            <div class="">
              <div class="inputcontainer">
                <input type="text" class="inputText" name="prenom" id="prenom" required/>
                <label class="floating-label">Prénom :</label>
              </div>

              <div class="inputcontainer">
                <input type="text" class="inputText" name="ville" id="ville" required/>
                <label class="floating-label">Nom société :</label>
              </div>

              <div class="inputcontainer">
                <input type="text" class="inputText" name="telephone" id="telephone" required/>
                <label class="floating-label" for="telephone">Téléphone :</label>
              </div>


            </div>

            <div class="">
              <div class="inputcontainer">
                <input type="text" class="inputText" name="nom" id="nom" required/>
                <label class="floating-label" for="nom">Nom :</label>
              </div>

              <div class="inputcontainer">
                <input type="text" class="inputText" name="adresse" id="adresse" required/>
                <label class="floating-label">Adresse Complète :</label>
              </div>



              <div class="inputcontainer">
                <input type="mail" class="inputText" name="mail" id="mail" required/>
                <label class="floating-label">Mail :</label>
              </div>

              <input class="btn-colored-background"type="submit" name="" value="Envoyer">
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer class="container-fluid">
      <aside class="row">
        <div class="col-md-3 text-center contact">
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/paris.footgolf/?fref=ts"><img src="img/fb.png" height="30" alt="le logo facebook"></a></li>
            <li><a href="https://www.youtube.com/paris.footgolf"><img src="img/youtube.png" height="30" alt="le logo youtube"></a></li>
            <li><a href="https://www.footgolf-inside.com"><img src="img/inside.png" alt="le logo footgolf-inside" height="30"></a></li>
          </ul>
        </div>

        <div id="contact" class="col-md-6 contact">
          <p>Contact : <a href="#">paris.footgolf@gmail.com</a></p>
          <ul class="list-inline">
            <li>
              <ul>
                <li>Yann BERTIN</li>
                <li>Président</li>

              </ul>
            </li>

            <li>
              <ul>
                <li>Mickaël LAFON</li>
                <li>Secrétaire</li>

              </ul>
            </li>

            <li>
              <ul>
                <li>Guilain BIHAN</li>
                <li>Trésorier</li>

              </ul>
            </li>
          </ul>
        </div>
      </aside>
    </footer>
